[init]
  templatedir = ~/.git-templates
  defaultBranch = main
[core]
  editor = vim
  excludesfile = ~/.gitignore
[merge]
  tool = vimdiff
  guitool = bc3
  conflictStyle = zdiff3
[color]
  ui = auto
  status = auto
  branch = auto
  interactive = auto
  diff = auto
[push]
  default = simple
  followTags = true
[diff]
  submodule = log
  guitool = bc3
  noprefix = true
  algorithm = histogram
  tool = difftastic
[status]
  submodulesummary = 1
[alias]
  graphr = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --branches --remotes --tags
  graph  = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --branches --tags
  ignore = update-index --assume-unchanged
  ignored = !git ls-files -v | grep "^[a-z]"
  unignore = update-index --no-assume-unchanged
  untracked = ls-files --others --exclude-standard --directory --no-empty-directory
  root = rev-parse --show-toplevel
[difftool]
  prompt = 0
[difftool "bc3"]
  trustExitCode = true
[mergetool]
  keepBackup = false
[mergetool "bc3"]
  trustExitCode = true
[credential]
  helper = cache
[submodule]
  recurse = true
  fetchJobs = 4
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[include]
  path = .gituser
  path = .gitdelta
[transfer]
  fsckObjects = true
[rebase]
  autorebase = true
[commit]
  verbose = true
[rerere]
  enabled = true
[help]
  autocorrect = 1
[fetch]
  prune = true
  pruneTags = true
