/* Root of terminator window */
window.terminator-terminal-window {
}

/* This makes height of tab header shrink */
window.terminator-terminal-window #terminator-tab-close-button {
  padding: 0;
}

window.terminator-terminal-window tab {
  border-radius:  8px 8px 0px 0px;
  padding: 1px 0px 0px 5px;
  background: @backdrop_dark_fg_color;
  color: @text_color;
}

window.terminator-terminal-window tab:checked {
  background: @shadow_color;
}
